---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import ExecutiveOverview from '../../components/ExecutiveOverview';
import CheckInCheckOut from '../../components/CheckInCheckOut';
import AttendanceView from '../../components/AttendanceView';
---

<DashboardLayout title="Overview - Staff Portal">
  <div class="space-y-12">
    <ExecutiveOverview client:only="react" />
    <CheckInCheckOut client:only="react" />
  </div>
</DashboardLayout>
