---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import ReportsView from '../../components/ReportsView';
---

<DashboardLayout title="Reports - Staff Portal">
  <div class="space-y-4 md:space-y-6 animate-page-transition pt-12 md:pt-0">
    <ReportsView client:load />
  </div>
</DashboardLayout>