---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import SEO from '../components/SEO.astro';

// Import fonts directly
import '@fontsource/nunito-sans/400.css';
import '@fontsource/nunito-sans/700.css';
import '@fontsource/nunito-sans/900.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<SEO 
			title="Email Rakyat - Digital Fortress"
			description="Portal rasmi aduan dan bantuan mangsa Ah Long & Scam. Kami melindungi privasi dan hak anda."
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Email Rakyat - Digital Fortress</title>

        </head>
	
	<body class="bg-gray-900 text-white font-sans min-h-screen flex flex-col">
		
		<Navbar />

		<Hero />

        <Features />

		<Footer />

	</body>
</html>