---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SecurityHeaders from '../components/SecurityHeaders.astro';
import SEO from '../components/SEO.astro';
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
    image?: string;
    noindex?: boolean; // We add this line so Layout knows what 'noindex' is
}

const { 
    title = "Email Rakyat - Digital Fortress", 
    description = "Portal rasmi aduan dan bantuan mangsa Ah Long & Scam. Kami melindungi privasi dan hak anda.",
    image,
    noindex = false // Default is false (allow Google to index)
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<SecurityHeaders />
        <SEO title={title} description={description} noindex={noindex} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
	        
        <slot name="head" />
	</head>
	
	<body class="bg-gray-900 text-white font-sans min-h-screen flex flex-col">
		<Navbar />
        
        <main class="flex-grow">
		    <slot />
        </main>

		<Footer />
	</body>
</html>